@import 'variables';

button {
    background-color: $secondary-color;
    border-radius: 5px;
    padding: $gap/2;
    color: $secondary-text-color;
    border: none;

    &:hover {
        background-color: $secondary-dark;
    }
}