@import 'variables';

.content {
    grid-area: main;
    padding: $page-padding;
    background-color: $white;
}

@media only screen and (max-width: 768px) {
	.content {
		padding: $mobile-padding;
	}
}