@import 'variables';

footer {
    grid-area: footer;
    background-color: $light-gray;
    padding: $page-padding;

    .links {
        display: flex;
        padding: $gap;

        .column {
            margin: $gap;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                margin: $gap/2 auto;
                a {
                    text-decoration: none;
                    color: $dark-gray;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .legal {
        color: $dark-gray;
        font-size: $extra-small-font-size;
        padding: $gap;
    }
}

@media only screen and (max-width: 768px) {
	footer {
		padding: $mobile-padding;
	}
}