@import 'variables';
@import 'common';

.navigation {
	grid-area: navigation;
	display: flex;
	background-color: $primary-light;
	padding: 0 $gap*2;
	position: sticky;
	top: 0;
	z-index: 999;
	color: $white;
	align-items: center;

	.logo {
		flex: 1;
		display: flex;
		align-items: center;
		padding: $gap/2 0;
	}

	.phone {
		align-self: stretch;
		background-color: $secondary-color;
		display: flex;
		align-items: center;
		padding: 0 $gap;
	}

	ul.menu {
		list-style: none;
		margin: 0;
		display: flex;
		padding: $gap/2;
		justify-content: flex-end;
	}

	li {
		padding: 15px;
		text-transform: uppercase;
		
		a {
			text-decoration: none;
			color: $primary-text-color;

			&:hover {
				border-bottom: 2px solid $secondary-color;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.navigation {
		padding: $mobile-padding;
	}
}