$white: #ffffff;
$black: #000000;
$light-gray: #E1E2E1;
$dark-gray: #555555;

$primary-color: #2d0754;
$primary-light: #5b3281;
$primary-dark: #11002c;
$secondary-color: #dd9933;
$secondary-light: #ffca63;
$secondary-dark: #a76b00;

$primary-text-color: $white;
$secondary-text-color: $black;

$gap: 1.5em;
$page-padding: $gap/2 $gap*2 $gap/2 $gap*2;
$mobile-padding: 0.5em;

$extra-large-font-size: 3.5em;
$large-font-size: 3em;
$medium-font-size: 2em;
$small-font-size: 1em;
$extra-small-font-size: 0.8em;