button {
  background-color: #dd9933;
  border-radius: 5px;
  padding: 0.75em;
  color: #000000;
  border: none; }
  button:hover {
    background-color: #a76b00; }

.navigation {
  grid-area: navigation;
  display: flex;
  background-color: #5b3281;
  padding: 0.75em 3em 0.75em 3em;
  position: sticky;
  top: 0; }
  .navigation .logo {
    flex: 1;
    display: flex;
    align-items: center; }
  .navigation ul.menu {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0.75em;
    justify-content: flex-end; }
  .navigation li {
    padding: 15px;
    text-transform: uppercase; }
    .navigation li a {
      text-decoration: none;
      color: #ffffff; }
      .navigation li a:hover {
        border-bottom: 2px solid #dd9933; }

.content {
  grid-area: main;
  height: 100vh;
  padding: 0.75em 3em 0.75em 3em; }

footer {
  grid-area: footer;
  background-color: #11002c;
  color: #ffffff;
  padding: 0.75em 3em 0.75em 3em; }
  footer .links {
    display: flex;
    padding: 1.5em; }
    footer .links .column {
      margin: 1.5em; }
      footer .links .column ul {
        list-style: none;
        margin: 0;
        padding: 0; }
      footer .links .column li {
        margin: 0.75em auto; }
        footer .links .column li a {
          color: #ffffff;
          text-decoration: none; }
          footer .links .column li a:hover {
            color: #dd9933; }
  footer .legal {
    color: #dddddd;
    font-size: 0.8em;
    padding: 1.5em; }

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local("fonts/FrankRuhlLibre-Regular"), url(fonts/FrankRuhlLibre-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-weight: 500;
  src: local("FrankRuhlLibre-Medium"), url(fonts/FrankRuhlLibre-Medium.ttf) format("truetype"); }
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-weight: bold;
  src: local("FrankRuhlLibre-Black"), url(fonts/FrankRuhlLibre-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-weight: bolder;
  src: local("FrankRuhlLibre-Bold"), url(fonts/FrankRuhlLibre-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-weight: lighter;
  src: local("FrankRuhlLibre-Light"), url(fonts/FrankRuhlLibre-Light.ttf) format("truetype"); }
body {
  font-family: 'Frank Ruhl Libre', serif;
  size: 1em; }

.container {
  display: grid;
  margin: 0;
  grid-template-areas: "navigation" "header" "main" "footer"; }

header {
  grid-area: header; }

h1 {
  font-size: 3em;
  color: #2d0754; }

h2 {
  font-size: 3em;
  color: #000000; }

h3 {
  font-size: 2em;
  color: #000000;
  font-variant: small-caps; }

h4 {
  font-size: 1em;
  color: #dd9933; }

.title {
  font-size: 3.5em;
  border-bottom: 1px solid #2d0754;
  color: #2d0754;
  padding-bottom: 0.15em;
  font-variant: small-caps; }

.light {
  font-weight: lighter; }

.medium {
  font-weight: 500; }

.black {
  font-weight: bold; }

.bold {
  font-weight: bolder; }

/*# sourceMappingURL=main.css.map */
