@import 'navigation';
@import 'content';
@import 'footer';
@import 'variables';

@font-face {
    font-family: 'Frank Ruhl Libre';
    src: local("fonts/FrankRuhlLibre-Regular"),
    url(fonts/FrankRuhlLibre-Regular.ttf) format("truetype");
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	font-weight: 500;
    src: local("FrankRuhlLibre-Medium"),
    url(fonts/FrankRuhlLibre-Medium.ttf) format("truetype");
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	font-weight: bold;
    src: local("FrankRuhlLibre-Black"),
    url(fonts/FrankRuhlLibre-Black.ttf) format("truetype");
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	font-weight: bolder;
    src: local("FrankRuhlLibre-Bold"),
    url(fonts/FrankRuhlLibre-Bold.ttf) format("truetype");
}

@font-face {
	font-family: 'Frank Ruhl Libre';
	font-weight: lighter;
    src: local("FrankRuhlLibre-Light"),
    url(fonts/FrankRuhlLibre-Light.ttf) format("truetype");
}

body {
	font-family: 'Frank Ruhl Libre', serif;
	size: $small-font-size;
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	margin: 0;
	grid-template-areas:
		"navigation"
		"header"
		"main"
		"footer"
}

header {
	grid-area: header;
}

h1 {
	font-size: $large-font-size;
	color: $primary-color;	
}

h2 {
	font-size: $large-font-size;
	color: $black;
}

h3 {
	font-size: $medium-font-size;
	color: $black;
	font-variant: small-caps;
}

h4 {
	font-size: $small-font-size;
	color: $secondary-color;
}

.title {
	font-size: $extra-large-font-size;
	border-bottom: 1px solid $primary-color;
	color: $primary-color;
	padding-bottom: $gap/10;
	font-variant: small-caps;
}

.light {
	font-weight: lighter;
}

.medium {
	font-weight: 500;
}

.black {
	font-weight: bold;
}

.bold {
	font-weight: bolder;
}